.logo {
	font-size: 50px !important;
	transition: color 1s ease;
	padding: 5px;
}

.logo-box {
	height: 50px;
	width: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 0px 2px white;
	margin-right: 1em;
	display: flex;
	align-items: center;
	transition: width 1s ease;
	overflow: hidden;
}

.logo-box:hover {
	/* background-color: rgba(20, 20, 20, 0.2); */
	box-shadow: 0px 0px 0px 4px white;
}

.logo-box.extended {
	width: 17em;
}

.email-text {
	margin-left: 0.5em;
	margin-right: 0.5em;
	z-index: 2;
}
